/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
MAIN
--------
*/

.big-container {
    max-width: 62rem;
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
}

.container {
    
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}